{% extends "admin/index.html" %}
{% block content %}
    {{ block.super }}
{% endblock %}

{% block sidebar %}
    {{ block.super }}

    <h1>Readme</h1>
    <p>Manages programmes and schedule in a clear and intuitive way.</p>
    <p>Automatically retrieves media metadata given a title.</p>
    <h2>Where to start</h2>
    <p>To <strong>add a channel</strong>, click on 'Manage channels' above.</p>
    <p>To <strong>add a movie, show or a radio show</strong>, click on the appropriate link above.</p>
    <p>To <strong>change a scheduled programme</strong>, click on 'Edit schedule' above.</p>
    <p>To <strong>schedule a movie</strong>, click on 'Manage movies and their scheduling' above.</p>
{% endblock %}
