// Standard horizontal list, using word-spacing trick to remove whitespace
// between inline-block elements.
@mixin horizontal-list {
    padding: 0;
    text-align: center;
    word-spacing: -1em;
    display: table;
    width: 100%;
    li {
        display: inline-block;
        word-spacing: 0;
    }
}

// Horizontal list separated by :after content.
@mixin horizontal-list-separated($separator:'') {
    @include horizontal-list;
    li:not(.last):after {
        content: $separator;
    }
}

// Horizontal list with padded links.
@mixin horizontal-list-padded($vertical, $horizontal) {
    @include horizontal-list;
    li {
        padding: $vertical 0;
        a {
            padding: $vertical $horizontal;
        }
    }
}

@mixin centerer($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    }
    @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

@mixin noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
