$background-color: #fefefe;
$foreground-color: #222;
$primary-color: #4E637F;
$secondary-color: #607899;
$accent-color: #E0925C;

a,
.hyper {
    text-decoration: none;
}

/* unvisited link */

a:link,
.hyper {
    color: $primary-color;
}

/* visited link */

a:visited {
    color: $secondary-color;
}

/* mouse over link */

a:hover,
.hyper:hover {
    color: $accent-color;
    cursor: pointer;
}

/* selected link */

a:active,
.hyper:active {
    color: $foreground-color;
}
