@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans");
a,
.hyper {
  text-decoration: none; }

/* unvisited link */
a:link,
.hyper {
  color: #4E637F; }

/* visited link */
a:visited {
  color: #607899; }

/* mouse over link */
a:hover,
.hyper:hover {
  color: #E0925C;
  cursor: pointer; }

/* selected link */
a:active,
.hyper:active {
  color: #222; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font: 100% "Bubblegum Sans", serif;
  font-weight: lighter;
  color: #222;
  background-color: #fefefe;
  overflow-x: hidden; }
  body.home {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), #fefefe, #fefefe 100%), url("https://image.freepik.com/free-vector/autumn-leaves-seamless-pattern-repeating-background-in-black-and-white-color_7586-1007.jpg"); }
  body.movie {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), #fefefe, #fefefe 100%), url("https://img.freepik.com/free-vector/simple-pattern-background_1319-147.jpg"); }
  body.show {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), #fefefe, #fefefe 100%), url("https://img.freepik.com/free-vector/triangle-background-pattern_1319-107.jpg"); }
  body.radio {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), #fefefe, #fefefe 100%), url("https://img.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg"); }

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 100;
  text-transform: uppercase; }

main {
  margin: 0 auto;
  padding: 0 20px;
  color: #222;
  background-color: #fefefe;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 100; }

@media screen and (min-width: 600px) {
  main {
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.6;
    max-width: 600px; } }

@media screen and (min-width: 900px) {
  main {
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.6;
    max-width: 700px; } }

header {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 0 10px;
  cursor: default; }
  header a {
    padding: 5px 10px; }
  header a:hover {
    background: #f6f6f6; }
  header .simple-ul li {
    margin-left: 0; }

@media screen and (min-width: 600px) {
  header {
    margin-top: 100px;
    margin-bottom: 20px; } }

@media screen and (min-width: 900px) {
  header {
    margin-top: 150px;
    margin-bottom: 20px; } }

.simple-ul {
  list-style: none; }
  .simple-ul .tag {
    opacity: 0.6;
    margin-left: 10px;
    display: none; }
  .simple-ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -40px;
    padding: 2px 5px; }

.sep {
  position: relative; }

.sep:before {
  content: "\0020";
  display: none;
  text-align: center;
  margin: auto;
  position: absolute;
  width: 100px;
  margin-left: -50px;
  left: 50%;
  bottom: 0;
  height: 0;
  border-top: 1px dotted #bbb; }

.sep:after {
  content: "\0020";
  display: none;
  text-align: center;
  margin: auto;
  position: absolute;
  width: 14px;
  margin-left: -7px;
  left: 50%;
  bottom: -4px;
  height: 9px;
  background-color: #fefefe;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(http://www.everydayanchovies.be/images/star.png);
  background-image: url(http://www.everydayanchovies.be/images/star.svg), none; }

@media screen and (min-width: 600px) {
  .simple-ul .tag {
    display: inline; }
  .sep {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 16px; }
  .sep:before {
    display: block; }
  .sep:after {
    display: block; } }

.horizontal-ul {
  padding: 0;
  text-align: center;
  word-spacing: -1em;
  display: table;
  width: 100%;
  margin-left: 0; }
  .horizontal-ul li {
    display: inline-block;
    word-spacing: 0; }
  .horizontal-ul li {
    padding: 5px 0; }
    .horizontal-ul li a {
      padding: 5px 10px; }

section {
  padding: 20px 0; }

.tag-header {
  display: block;
  margin-top: 20px;
  margin-bottom: -5px; }

@media screen and (min-width: 600px) {
  .tag-header {
    display: none; } }

#main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 120px;
  /* height of your footer */ }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 5px;
  font-size: 12px;
  text-transform: lowercase;
  text-align: center; }
  footer .simple-ul li {
    margin-left: 0; }

.collapsible {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor: default; }

.collapsible.open {
  display: none; }

.collapsible-content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f6f6f6; }

.project-description .header {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  display: grid;
  grid-template-columns: 70px 1fr;
  padding: 10px 10px;
  background: #eaeaea;
  cursor: default; }
  .project-description .header img {
    width: 50px;
    height: 50px;
    margin: auto 0;
    vertical-align: middle; }

.project-description .content {
  padding: 0 10px 10px 10px;
  white-space: normal;
  overflow: auto;
  text-overflow: ellipsis; }
  .project-description .content a {
    text-transform: uppercase; }

.simple-ul li:first-child .project-description.open {
  margin: 0 0 20px 0;
  border-style: solid;
  border-color: #eaeaea;
  border-width: 1px; }

.simple-ul li:not(:first-child) .project-description.open {
  margin: 20px 0;
  border-style: solid;
  border-color: #eaeaea;
  border-width: 1px; }

#rotten_tomatoes {
  padding: 10px 20px;
  background-color: #f6f6f6; }
  #rotten_tomatoes .header {
    margin: 10px 0; }
    #rotten_tomatoes .header h1 {
      margin-bottom: 10px;
      font-size: 20px; }
    #rotten_tomatoes .header p {
      line-height: 4px;
      font-size: 12px; }
    #rotten_tomatoes .header .tomatoe {
      margin-bottom: 15px;
      font-size: 14px; }
  #rotten_tomatoes .body {
    margin: 10px 0;
    max-width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    #rotten_tomatoes .body .content {
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 16px; }
    #rotten_tomatoes .body .content:hover {
      background-color: rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.3);
      min-height: 600px;
      padding: 16px; }
  #rotten_tomatoes .ratings {
    margin: 10px 0;
    line-height: 20px;
    font-size: 14px;
    font-style: italic; }

/*# sourceMappingURL=main.css.map */