// Base
@import "base/variables";
@import "base/mixins";
@import "base/reset";

// Components
@import "components/typography";
@import "components/grid";
@import "components/buttons";
@import "components/navigation";
@import "components/sections";

@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans");

$font-stack: "Bubblegum Sans",
serif;

$background-color: #fefefe;
$foreground-color: #222;
$primary-color: #4E637F;
$secondary-color: #607899;
$accent-color: #E0925C;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 100% $font-stack;
    font-weight: lighter;
    color: $foreground-color;
    background-color: $background-color;
    overflow-x: hidden;

    &.home {
        background:linear-gradient(to bottom, rgba(255, 255, 255, 0.9), $background-color, $background-color 100%), 
        url("https://image.freepik.com/free-vector/autumn-leaves-seamless-pattern-repeating-background-in-black-and-white-color_7586-1007.jpg");
    }

    &.movie {
        background:linear-gradient(to bottom, rgba(255, 255, 255, 0.9), $background-color, $background-color 100%), 
        url("https://img.freepik.com/free-vector/simple-pattern-background_1319-147.jpg");
    }

    &.show {
        background:linear-gradient(to bottom, rgba(255, 255, 255, 0.9), $background-color, $background-color 100%), 
        url("https://img.freepik.com/free-vector/triangle-background-pattern_1319-107.jpg");
    }

    &.radio {
        background:linear-gradient(to bottom, rgba(255, 255, 255, 0.9), $background-color, $background-color 100%), 
        url("https://img.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg");
    }
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-weight: 100;
    text-transform: uppercase;
}

main {
    margin: 0 auto;
    padding: 0 20px;
    color: $foreground-color;
    background-color: $background-color;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 100;
}

@media screen and (min-width: 600px) {
    main {
        margin-top: 40px;
        font-size: 16px;
        line-height: 1.6;
        max-width: 600px;
    }
}

@media screen and (min-width: 900px) {
    main {
        margin-top: 40px;
        font-size: 16px;
        line-height: 1.6;
        max-width: 700px;
    }
}

header {
    @include noselect();
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 0 10px;
    cursor: default;

    a {
        padding: 5px 10px;
    }

    a:hover {
        background: darken($background-color, 3%);
    }

    .simple-ul {
        li {
            margin-left: 0;
        }
    }
}

@media screen and (min-width: 600px) {
    header {
        margin-top: 100px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 900px) {
    header {
        margin-top: 150px;
        margin-bottom: 20px;
    }
}

.simple-ul {
    list-style: none;

    .tag {
        opacity: 0.6;
        margin-left: 10px;
        display: none;
    }

    li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: -40px;
        padding: 2px 5px;
    } //    li:active {
    //        background: darken($background-color, 3%);
    //    }
}

.sep {
    position: relative;
}

.sep:before {
    content: "\0020";
    display: none;
    text-align: center;
    margin: auto;

    position: absolute;
    width: 100px;
    margin-left: -50px;
    left: 50%;
    bottom: 0;
    height: 0;
    border-top: 1px dotted #bbb;
}

.sep:after {
    content: "\0020";
    display: none;
    text-align: center;
    margin: auto;

    position: absolute;
    width: 14px;
    margin-left: -7px;
    left: 50%;
    bottom: -4px;
    height: 9px;
    background-color: $background-color;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(http://www.everydayanchovies.be/images/star.png);
    background-image: url(http://www.everydayanchovies.be/images/star.svg), none;
}

@media screen and (min-width: 600px) {
    .simple-ul {
        .tag {
            display: inline;
        }
    }

    .sep {
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 16px;
    }

    .sep:before {
        display: block;
    }

    .sep:after {
        display: block;
    }
}

.horizontal-ul {
    @include horizontal-list-padded(5px,
    10px);

    margin-left: 0;
}

section {
    padding: 20px 0;
}

.tag-header {
    display: block;
    margin-top: 20px;
    margin-bottom: -5px;
}

@media screen and (min-width: 600px) {
    .tag-header {
        display: none;
    }
}

#main-container {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 120px;
    /* height of your footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 5px;
    font-size: 12px;
    text-transform: lowercase;
    text-align: center;

    .simple-ul {
        li {
            margin-left: 0;
        }
    }
}

.collapsible {
    @include noselect();
    cursor: default;
}

.collapsible {
    &.open {
        display: none;
    }
}

.collapsible-content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: darken($background-color, 3%);
}

.project-description {

    .header {
        @include noselect();
        display: grid;
        grid-template-columns: 70px 1fr;
        padding: 10px 10px;
        background: darken($background-color, 8%);
        cursor: default;

        img {
            width: 50px;
            height: 50px;
            margin: auto 0;
            vertical-align: middle;
        }
    }

    .content {
        padding: 0 10px 10px 10px;
        white-space: normal;
        overflow: auto;
        text-overflow: ellipsis;

        a {
            text-transform: uppercase;
        }
    }
} 

.simple-ul {
    li:first-child {
        .project-description {

            &.open {
                margin: 0 0 20px 0;
                border-style: solid;
                border-color: darken($background-color, 8%);
                border-width: 1px;
            }
        }
    }

    li:not(:first-child) {
        .project-description {

            &.open {
                margin: 20px 0;
                border-style: solid;
                border-color: darken($background-color, 8%);
                border-width: 1px;
            }
        }
    }
}

#rotten_tomatoes {

    padding: 10px 20px;
    background-color: darken($background-color, 3%);

    .header {
        margin: 10px 0;

        h1 {
            margin-bottom: 10px;
            font-size: 20px; 
        }

        p {
            line-height: 4px;
            font-size: 12px;
        }

        .tomatoe {
            margin-bottom: 15px;
            font-size: 14px;
        }
    }

    .body {
        margin: 10px 0;
        max-width: 400px;
        background-repeat:   no-repeat;
        background-size:     cover;
        background-position: center center;

        .content {
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 16px;
        }

        .content:hover { 
            background-color: rgba(255, 255, 255, 0.3);
            color: rgba(255, 255, 255, 0.3);
            min-height: 600px;
            padding: 16px;
        }
    }

    .ratings {
        margin: 10px 0;
        line-height: 20px;
        font-size: 14px;
        font-style: italic;
    }
}