{% extends 'guide/base.html' %}

{% block content %}
    {% if channel %}
        <h1>{{ channel.name }}</h1>
        {% if channel.description and channel.description != '-' and channel.description != '' and channel.description != "Description" %}
            <p>{{ channel.description }}</p>
        {% endif %}

        {% if channel.content_type == 'radio' %}
            <p>Tune in at {{ channel.frequency }}kHz</p>
        {% endif %}

        {% if channel.content_type == 'video' %}
            <p>Watch on {{ channel.identifier }}</p>
        {% endif %}
    {% endif %}
    {% if agenda %}
        <h2>Agenda</h2>
        <ul>
        {% for p in agenda %}
            <li><a href="{% url 'detail_point' p.id %}" title="{{ p.description }}">{{ p.name }}</a> - {{ p.content_type }} starting at {{ p.start_date }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No programs are scheduled on this channel.</p>
    {% endif %}
{% endblock %}