{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fefefe">

    <title>Surreal TV</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static "guide/css/main.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="icon" href="images/favicon.png">
    <link rel="icon" sizes="192x192" href="images/favicon-highres.png">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
</head>

<body class="home">
    <div id="main-container">
        <header class="sep">
            <h1>Surreal TV</h1>
            <ul class="simple-ul horizontal-ul">
                <li> <a href="/guide">Channels</a></li>
                <li> <a href="/guide/movies">Movies</a></li>
                <li> <a href="/guide/shows">Shows</a></li>
                <li> <a href="/guide/radio_shows">Radio Shows</a></li>
            </ul>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>Developed by Max Marshall</p>
            <ul class="simple-ul horizontal-ul">
                <li> <a href="http://www.everydayanchovies.be">Portfolio</a></li>
            </ul>
        </footer>
    </div>
</body>

</html>
