{% extends 'guide/base.html' %}

{% block content %}
    {% if agenda_point %}
        <h1>Agenda</h1>
        <h2>{{ agenda_point.name }}</h2>
        {% if agenda_point.description and agenda_point.description != '-' and agenda_point.description != '' and agenda_point.description != "Description" %}
            <p>{{ agenda_point.description }}</p>
        {% endif %}
        <p>Starting at {{ agenda_point.start_date }}</p>
        <p>Ending at {{ agenda_point.end_date }}</p>
    {% else %}
        <p>This agenda point is no longer occupied.</p>
    {% endif %}
{% endblock %}