{% extends 'guide/base_radio.html' %}

{% block content %}
    {% if radio_show %}
        <section>
            <h2>{{ radio_show.name }}</h2>
            <h3>A radio show</h3>
            {% if radio_show.description and radio_show.description != '-' and radio_show.description != '' and radio_show.description != "Description" %}
                <p>{{ radio_show.description }}</p>
            {% endif %}
        </section>
    {% endif %}

    {% if agenda_point %}
        <section>
            <h1>Agenda</h1>
            <h2>{{ agenda_point.name }}</h2>
            <p>{{ agenda_point.description }}</p>
            <p>Starting at {{ agenda_point.start_date }}</p>
            <p>Ending at {{ agenda_point.end_date }}</p>
            <p>Tune in at {{ agenda_point.channel.frequency }}kHz.</p>
        </section>
    {% endif %}

    {% if agenda_points %}
        <section>
            <h2>Agenda</h2>
            <ul>
                {% for p in agenda_points %}
                    <li><a href="{% url 'detail_point' p.id %}" title="{{ p.description }}">{{ p.name }}</a> - {{ p.content_type }} starting at {{ p.start_date }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}