{% extends 'guide/base_show.html' %}

{% block content %}
    {% if agenda_point %}
        <section>
            <h1>Agenda</h1>
            <h2>{{ agenda_point.name }}</h2>
            {% if agenda_point.description and agenda_point.description != '-' and agenda_point.description != '' and agenda_point.description != "Description" %}
                <p>{{ agenda_point.description }}</p>
            {% endif %}
            <p>Starting at {{ agenda_point.start_date }}</p>
            <p>Ending at {{ agenda_point.end_date }}</p>
        </section>
    {% endif %}

    {% if rotten_tomatoes %}
        </section>
            <div id="rotten_tomatoes">
                <div class="header">
                    <h1>{{ rotten_tomatoes.Title }}</h1>
                    <p class="subtitle">{{ rotten_tomatoes.Genre }}. Rated {{ rotten_tomatoes.Rated }}, released {{ rotten_tomatoes.Released }}.</p>
                    <p class="awards">{{ rotten_tomatoes.Awards }}</p>
                    <p class="writer">Written by {{ rotten_tomatoes.Writer }}.</p>
                </div>

                <div class="body" style="background-image: url({{ rotten_tomatoes.Poster }})">
                    <div class="content">
                        <p>{{ rotten_tomatoes.Plot }}</p>
                    </div>
                </div>

                <div class="ratings">
                    {% for rating in rotten_tomatoes.Ratings %}
                    <div class="rating">
                        <span>"{{ rating.Value }}" - {{ rating.Source }}</span>
                    </div>
                    {% endfor %}
                </div>  

                <h3>Cast</h3>
                <p>{{ rotten_tomatoes.Actors }}</p>

                {% if rotten_tomatoes.Website %}
                    <a href="{{ rotten_tomatoes.Website }}">Visit website</a>
                {% endif %}
            </div>
        </section>
    {% endif %}

    {% if agenda_points %}
        <section>
            <h2>Agenda</h2>
            <ul>
                {% for p in agenda_points %}
                    <li><a href="{% url 'detail_point' p.id %}" title="{{ p.description }}">{{ p.name }}</a> - {{ p.content_type }} starting at {{ p.start_date }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}