{% extends 'guide/base.html' %}

{% block content %}
    {% if video_channels %}
        <section>
            <h2>Movie and show channels</h2>
            <ul>
            {% for channel in video_channels %}
                <li><a href="{% url 'detail_channel' channel.id %}">{{ channel.name }}</a></li>
            {% endfor %}
            </ul>
        </section>
    {% else %}
        <p>No movie channels are available.</p>
    {% endif %}
    
    {% if radio_channels %}
        <section>
            <h2>Radio channels</h2>
            <ul>
            {% for channel in radio_channels %}
                <li><a href="{% url 'detail_channel' channel.id %}">{{ channel.name }}</a></li>
            {% endfor %}
            </ul>
        </section>
    {% else %}
        <p>No radio channels are available.</p>
    {% endif %}
{% endblock %}