{% extends 'guide/base_movie.html' %}

{% block content %}
    {% if movies %}
        <h2>Movies</h2>
        <ul>
        {% for movie in movies %}
            <li><a href="{% url 'detail_movie' movie.id %}" title="{{ movie.description }}">{{ movie.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No movies available.</p>
    {% endif %}
{% endblock %}