{% extends 'guide/base_radio.html' %}

{% block content %}
    {% if radio_shows %}
        <h2>Radio shows</h2>
        <ul>
        {% for radio_show in radio_shows %}
            <li><a href="{% url 'detail_radio_show' radio_show.id %}" title="{{ radio_show.description }}">{{ radio_show.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No radio shows available.</p>
    {% endif %}
{% endblock %}