{% extends 'guide/base_show.html' %}

{% block content %}
    {% if shows %}
        <h2>Shows</h2>
        <ul>
        {% for show in shows %}
            <li><a href="{% url 'detail_show' show.id %}" title="{{ show.description }}">{{ show.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No shows available.</p>
    {% endif %}
{% endblock %}